body {
    background-color: #FADADD;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: Black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
}

.motivation-img {
    width: 100%;
}

p {
    font-size: 1.2rem;
}